<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin | User</title>
<!--    <link rel="stylesheet" th:href="@{../../static/css/style.css}" />-->
</head>
<body>
<table border="1" id="userTable" style="width: 90%; margin-left: 10px">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
        <th>Role</th>
        <th>Code</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <!-- Use th:each instead of th:object for iteration -->
    <tr th:each="user : ${list}">
        <td th:text="${user.getUser().getUsername()}"></td>
        <td th:text="${user.getUser().getEmail()}"></td>
        <td>
            <a th:text="${user.getUser().getPassword()}"></a>
            <a>Reset</a>
        </td>
        <td >
            <a th:text="${user.getRolename()}"></a>
            <a href="facebook.com" >Đổi vai trò</a>
        </td>
        <td th:text="${user.getUser().getCode()}"></td>
        <td>
            <div align="center">
                <!-- Fix the URL and use th:href for dynamic URLs -->
                <a th:href="@{/admin/user/updateCate(id=null)}">Edit<i class="fas fa-edit"></i></a>
                ||
                <a th:href="@{/admin/user/deleteCate(id=null)}">Delete<i class="fas fa-sync"></i></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <p th:text="${message}"></p>
</div>
</body>
</html>
